html{
	font-size: 62.5%;
}
body{
	background:#f0f0f0;
}
a{
	text-decoration:none;
}
#title{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	background: #00cac9;
	position: relative;
}
#title a{
	display: block;
	position: absolute;
	top: 10px;
	left: 12px;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-top: 0px;
	border-right: 0px;
	transform: rotate(45deg);
}
#title span{
	color: #fff;
	font-size: 2rem;
}
.header{
	width: 100%;
}
.header img{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	vertical-align: bottom;
}

#wejoin{
	background: #fff;
	width: 100%;
	box-shadow: inset 0px 3px 4px 0 #e2e2e2;
	padding: 15px 8px;
	box-sizing: border-box;
	font-size: 0.8rem;
}
.join-men{
	width: 100%;
	margin-bottom: 13px; 
}
.join-men img{
	height: 36px;
	width: 36px;
	margin-right: 11px;
	vertical-align: middle;
	vertical-align: bottom;
}
.join-men a{
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	font-size: 3rem;
	color: #c69de8;
}

#wejoin .wejoined{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
	color: #000;
	font-size: 1.1rem;
}
#wejoin .wejoined span{
	color: #00cac9;
}

.withfriden{
	width: 100%;
	padding: 0px 8px;
	box-sizing: border-box;
	text-align: center;
}
.withfriden button{
	width:135px; 
	height: 30px;
	border:0px;
	border-radius: 15px;
	background: #fd917b;
	color: #fff;
	font-size: 1.3rem;
}


#clockinfo{
	width: 100%;
	color: #333333;
	padding: 30px 8px;
}
#clockinfo span{
	font-size: 1.1rem;
}
#clockinfo p{
	line-height: 25px;
}

#date{
	width: 100%;
	padding: 10px 8px;
	box-sizing: border-box;
	background: #fff;
	color: #333333;

}
#date .date-title{
	margin-bottom: 10px;
	font-size: 1.4rem;
}
#date .date-content{
	width: 97%;
	border: 1px solid #d8d8d8;
	background: #fafafa;
	position: relative;
	box-shadow: 5px 5px #fafafa,5px 5px 0 1px #d8d8d8;
}
#date .date-content .left{
	width: 25px;
	height: 9px;
	border-radius: 15px;
	background: #00cac9;
	position: absolute;
	top: -5px;
	left: 25px;
}
#date .date-content .right{
	width: 25px;
	height: 9px;
	border-radius: 15px;
	background: #00cac9;
	position: absolute;
	top: -5px;
	right: 25px;
}
.daybyday{
	margin:2px;
	padding: 13px 8px;
	box-sizing: border-box;
	border-bottom: 1px solid #d8d8d8;
	font-size: 0.9px;
	vertical-align: center;
}
.daybyday .yuan{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #b8b8b8;
	color: #fff;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
}
.daybyday .dbd-left{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
	color: #b8b8b8;
	margin-left: 5px;
}
.daybyday .dbd-left span{
	display: inline-block;
	color: #000;
	margin-bottom: 2px;
}
.daybyday .dbd-right{
	width: 50px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
	display: inline-block;
	float: right;
	color: #b8b8b8;
}
.successyuan{
	background: #fd917b!important; 
}
.successtext{
	color: #fd917b!important;
}
.failyuan{
	background: #c69de8!important; 
}
.failtext{
	color: #c69de8!important;
}
.today{
	background: #fd917b!important; 
}
.todayyuan{
	background:#fff!important;
	color: #fd917b!important;
}
.todaytext{
	color: #fff!important;
}
.delboder{
	border-bottom: 0px!important;
}