html{
	font-size: 62.5%;
}
body{
	background: #fff;
}
a{
	text-decoration:none;
}
#title{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	background: #00cac9;
	position: relative;
}
#title a{
	display: block;
	position: absolute;
	top: 10px;
	left: 12px;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-top: 0px;
	border-right: 0px;
	transform: rotate(45deg);
}
#title span{
	color: #fff;
	font-size: 2rem;
}
.banner{
}
.banner img{
	width: 100%;
	height: 100%;
}
#hotelName{
	width: 100%;
	padding: 12px 9px;
	box-sizing: border-box;
	font-size: 1.4rem;
	color: #7d7d7d;
}
#hotel-outline{
	background: #f0f0f0;
	width: 100%;
	box-shadow: inset 0px 3px 4px 0 #e2e2e2;
	padding: 10px 8px;
	box-sizing: border-box;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
#hotel-outline p{
	margin: 0px;
	text-indent: 20px;
	line-height: 22px;
	font-size: 1rem;
	color: #7d7d7d;
	overflow: hidden;
	text-overflow:ellipsis;
}
#hotel-outline p a{
	color: #00cac9;
}

#whereAndTel{
	width: 100%;
	height: auto;
	padding: 13px 8px;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(216,216,216,0.3);
	opacity:0.6;
}
#whereAndTel div{
	margin-bottom: 14px;
}
#whereAndTel div img{
	width: 14px;
	line-height: 14px;
	vertical-align: middle;
	vertical-align: bottom;
}
#whereAndTel div span{
	display: inline-block;
	vertical-align: middle;
	text-indent:  8px;
}
#whereAndTel .tel{
	margin: 0px;
}

#checkInDate{
	width: 100%;
	padding: 0px 8px;
	box-sizing: border-box;
}
#checkInDate .border{
	width:95%; 
	height:30px;
	line-height: 30px;
	border:2px solid #e3e3e3;
	border-radius: 15px;
	color: #000;
	font-size: 1.3rem;
	margin: 25px auto;
	text-align: center;

}
#checkInDate .border div{
	display: inline-block;
	border-top: 1px solid #e3e3e3;
	width: 20px;
	vertical-align: middle;
	margin: 0px 20px;
}
#checkInDate .border span{
	font-size: 0.8rem;
}



.hotelRoom{
	margin: 20px 8px;
}
.hotelRoom:after{
	content: '';
	display: block;
	overflow: hidden;
	clear: both;
}
.hotelRoom div{
	display: inline-block;
}
.hotelRoom .img{
	width: 117px;
	height: 88px;
	border-radius: 8px;
	display: inline-block;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	float: left;
}
.hotelRoom .right{
	float: left;
	width: 182px;
	margin-left: 5px;
}
.hotelRoom .right .roomName{
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: bold;
}
.hotelRoom .right .roomInfo{
	font-size: 0.8rem;
	margin: 0px;
	line-height: 15px;
	margin-bottom: 5px;
}
.hotelRoom .right .roomMuch img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.hotelRoom .right .roomMuch span{
	color: #ff77b6;
	font-size: 1rem;
	vertical-align: bottom;
}
.hotelRoom .right button{
	width:70px; 
	height:20px;
	border:0px;
	border-radius: 15px;
	color: #fff;
	background: #00cac9;
	font-size: 0.8rem;
	text-align: center;
	vertical-align: middle;
	float: right;
}