html{
	font-size: 62.5%;
}
body{
	background: #01dcd6;
}
a{
	text-decoration:none;
}
#title{
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: center;
	background: #00cac9;
	position: relative;
}
#title a{
	display: block;
	position: absolute;
	top: 10px;
	left: 12px;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-top: 0px;
	border-right: 0px;
	transform: rotate(45deg);
}
#title span{
	color: #fff;
	font-size: 2rem;
}
.background{
	background: #f7f7f7;
}
#user-head{
	width:90px;
	height: 90px;
	padding:4px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 45px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	
}
#user-head img{
	width: 82px;
	height: 82px;
	vertical-align: bottom;
}

#user-name{
	width: 50px;
	text-align: center;
	margin: 0 auto;
	font-size: 0.9rem;
	color: #000;
	margin-bottom: 10px;
}

#bolang{
	width: 100%;
}
#bolang img{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}


#userOption{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#userOption ul{
	margin: 0;
	padding: 0;
}
#userOption ul li{
	display: inline-block;
	margin: 36px;
}
#userOption ul li img{
	width: 38px;
	height: 38px;
}
#userOption ul li span{
	display: block;
	color: #fff;
	margin-top: 5px;
}